.secret-form{
    background-color: #1e293b;
    padding:20px;
    border-radius: 12px;
    margin-bottom:30px;
    border: 1px solid #334155;
}
.secret-form textarea{
    width:100%;
    background-color: #0f172a;
    border:1px solid #334155;
    border-radius: 8px;
    color:#f8fafc;
    margin-bottom:12px;
    box-sizing:border-box;
}
.secret-form textarea:focus{
    outline:none;
    border-color:#8b5cf6;
}
.form-footer{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
select{
    background: #0f172a;
    color:#f8fafc;
    padding:1px solid #334155;
    border-radius:6px;
}
button[type="submit"]{
    background: linear-gradient(to right, #8b5cf6, #6366f1);
    color:white;
    border:none;
    padding:8px 20px;
    border-radius:6px;
    font-weight:bold;
    transition:opacity 0.2s;
    cursor:pointer;
}
button[type="submit"]:hover{
    opacity:0.9;
}